[s3e]
MemSize     =40000000
MemSizeBx   =20000000
MemSizeDebug=40000000
SysStackSize=1280000
SysGlesVersion=1
MemMgrMaxAllocWarning=0
SysAppNeverSleep=1
IOSDispScaleFactor=100
DispFixRot=2
TextureMarginBx=2
TextureInterpolationBx=1
SoundCacheSizeBx=1400000
WinWidth=800
WinHeight=480
WinFullScreen=0
WindowAllowAltEnter=1
{OS=WINDOWS}
DisableGL=1
{}

[resmanager]
ResBuild=0

[trace]
ALL=0
IWCRT_VERBOSE=0
DERBH_VERBOSE=0

[gx]
Rasterisation=HW
Transform=SW
Lighting=HW/SW
DataCacheSize=128000
VertCacheSize=10000
PolyBufferSize=50000
DisplayFramerate=1
NumTPages=128
NumTPageFreeRects=50
UseRgbLighting=1

[gxfont]
TextureMaxSize=1024
CacheTextureMaxSize=1024
EnableTTFKerning=1

[gl]
AllowNoDepthBufferClear=1
